@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
body {
  justify-content: center;
  margin-top: 0px;
}
.wrapper{
  margin: 0px;
}
header {
  align-items: center;
  position: relative;
  margin-right: 50px;
}
section{
     background:url('/Images/opo.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
.logo {
  text-decoration: none;
  color: black;
  margin-left: 150px;
}
.logo {
  font-size: 27px;
  color: black;
  font-weight: bolder;
  text-decoration: none;
  display: flex;
}
nav {
  display: flex;
  width: 100%;
  margin-bottom: 0%;
  justify-content: space-between;
  justify-self: center;
  align-items: center;
  z-index: 222;
  margin-left: 10px;
}

ul {
  margin: 10px;
  padding-right: 0%;
}
nav ul li {
  display: inline-block;
  list-style: none;
  padding: 10px 20px;
}
nav ul li a {
  color: black;
  position: relative;
  padding: 5px 0;
  text-decoration: none;
  font-size: smaller;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}
nav ul li a:hover{
    color: #19A172;
}

nav ul li a::after{
    content: '';
    bottom: 0;
    left: 0;
    width: 0;
    position: absolute;
    height: 3px;
    background: #19A172; 
    transition: .3s;
}
 
nav ul li a:hover:after{
    width: 100%;
}

nav ul li a:hover{
    color: #19A172;
}

.btn-1 {
  background: #19A172;
  color: white;
  font-weight: 500;
  padding: 15px;
  margin: 0px;
  box-shadow: none;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.btn-2 a{
  text-decoration: none;
  color: teal;
  font-weight: bolder;
}
.btn-2 {
  background: transparent;
  color: darkcyan;
  font-weight: 500;
  padding: 15px;
  margin: 0px;
  box-shadow: #19A172;
  margin-top: 90px;
  width: 150px;
  border:2px teal solid;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  
}

.wrapper {
  margin-top: 0;
  background-position: center;
  background-repeat: no-repeat;
  text-decoration: none;
}
.big{
  padding: 150px;
  font-size:25px;
  color: #1f3930;
  font-weight: lighter;
}
.small{
  font-size: larger;
}
.btn-2{
    color: #19A172;
    font-size: 10px;
    text-transform: uppercase;
    padding: 15px 0px;
    border-radius: 0px;
    display: inline-block;
    font-weight: 500;
    transition: all .4s ease-in-out;
    border: 2px solid #19A172;
}
.btn-2:hover{
      color: white;
    background: #19A172;
}

.end{
  position: relative;
  background: #1f3930;
  width: 90vw;
  height: 50vh;
  margin-left: 70px;
  margin-top: -30px;
  display: flex;
  justify-content: space-between;
  color: #fff;
}
.number{
  display: flex;
  margin-left: 20px;
}
.number h3{
  margin-bottom: 60px 20px;
    padding: 1rem 0;
    font-weight: normal;
}

.one{
  padding: 30px;
  margin: 10px;
}
label{
margin-bottom: 0px;
margin-bottom: 0px;
text-align: center;
}
.day{
justify-content: space-between;
display: flex;
}
.time{
  color: #19A172;
    margin-top: 30px;
    margin-left: 30px;
}
.reg{
  margin-top: 30px;
}
.two{
  padding: 30px;
  margin: 10px;
}
.three{
  padding: 30px;
  margin: 10px;
}
.appointment{
display: inline-block;
justify-content: space-between;
}
.time{
  color: #19A172;
    margin-top: 30px;
    margin-left: 30px;
}
.reg{
  margin-top: 30px;
}
.two .empty{
  background: transparent;
  padding: 20px; 
  color: #fff;
  width: 15vw;
  border-color: teal;
  margin-left: 50px;
}
.try::first-letter{
    color: #19A172;
}

.dummy-dedmo{
  background-color: green;
}